<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Trains System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	
    <div class='main'>
		<p class='menu'> Add User </p>
	</div>
	<form class="tab" action="/registerUser" method="post">
   <br /> Email: <input type="text" name="email"><br />
   <br /> name: <input type="text" name="name"><br />
   <br /> password: <input type="text" name="password"><br />
    <input type="submit" value=" ADD user ">
</form>

	<br />
</body>
</html>